@use '../foundation/mixin' as m;
@use '../foundation/function' as f;
@use '../foundation/var' as v;

.header {
    color: v.$color-main;
    background-color: v.$color-main;
    padding: f.rem(20);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;

    &__inner {
        @include m.inner();

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: f.rem(90);

        @include m.mq(desktop) {
            width: f.rem(110);
        }
    }

    &_nav {

        position: fixed;
        inset: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(255, 248, 240, .8);
        backdrop-filter: blur(10px);

        opacity: 0;
        visibility: hidden;

        transition: .5s;

        z-index: 900;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &__list {

            list-style: none;

            display: flex;
            flex-direction: column;

            gap: f.rem(20);

            padding: 0;
            margin: 0;

            li {

                opacity: 0;
                transform: translateY(20px);

                transition: .5s;
            }

            a {

                text-decoration: none;
                color: v.$color-text;
                font-size: f.rem(26);
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }

        &.active {

            .header_nav__list li {

                opacity: 1;
                transform: translateY(0);

            }

            .header_nav__list li:nth-child(1) {
                transition-delay: .1s;
            }

            .header_nav__list li:nth-child(2) {
                transition-delay: .2s;
            }

            .header_nav__list li:nth-child(3) {
                transition-delay: .3s;
            }

            .header_nav__list li:nth-child(4) {
                transition-delay: .4s;
            }

        }

    }

}

.hamburger {

    position: relative;

    width: f.rem(40);
    height: f.rem(40);
    background: none;
    border: none;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: f.rem(10);

    z-index: 1001;

    span {

        width: 100%;
        height: 2px;

        background: v.$color-text;

        transition: .4s;
    }

    &__paw {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0;
        transform: scale(.5);
        transition: .4s;
        pointer-events: none;
    }

    &.active {

        span {

            opacity: 0;

        }

        .hamburger__paw {

            opacity: 1;

            transform: scale(1);

        }

    }

}

.paw {

    position: relative;
    height: f.rem(22);

    flex-shrink: 0;

    img {

        position: absolute;
        width: f.rem(12);

        opacity: 0;
        transform: scale(.8);

        transition:
            opacity .25s ease,
            transform .25s ease;

    }

    // ジグザグ
    img:nth-child(odd) {
        top: f.rem(6);
    }

    img:nth-child(even) {
        top: 0;
    }

    // 横位置
    @for $i from 1 through 10 {

        img:nth-child(#{$i}) {
            left: #{($i - 1) * 16}px;
        }

    }

}

// 足跡数ごとの幅

.paw--5 .paw {
    width: f.rem(76);
}

.paw--6 .paw {
    width: f.rem(92);
}

.paw--9 .paw {
    width: f.rem(140);
}

.paw--10 .paw {
    width: f.rem(156);
}

@for $i from 1 through 10 {

    .header_nav__list a:hover .paw img:nth-child(#{$i}) {

        @if $i ==1 {
            opacity: .6;
        }

        @else if $i ==2 {
            opacity: .7;
        }

        @else if $i ==3 {
            opacity: .8;
        }

        @else if $i ==4 {
            opacity: .9;
        }

        @else {
            opacity: 1;
        }

        transform: scale(1);

        transition-delay: #{($i - 1) * .06}s;

    }

}