@use '../foundation/mixin' as m;
@use '../foundation/function' as f;
@use '../foundation/var' as v;

.header {
    color: v.$color-main;
    padding: f.rem(20);

    &__inner {
        @include m.inner();
    }

    &__logo {
        width: f.rem(150);
    }
}