@use '../foundation/mixin' as m;
@use '../foundation/function' as f;
@use '../foundation/var' as v;
body{
    color: v.$color-text;
    background-color: v.$color-back;
}

.mainvisual{
    height: f.rem(744);
    padding: f.rem(400) 0 f.rem(300);
    background: url(/images/mainvisual.webp) no-repeat center center;
    background-size: cover;
    margin-bottom: f.rem(150);

    &__inner{
        @include m.inner();
    }

    &__title{
        font-size: f.rem(24);
        color: v.$color-base;
    }
}

.news{
    &__inner{
        @include m.inner();
    }

    &__title{
        @include m.section-title();
    }

    &__post{
        margin-bottom: f.rem(30);
        padding-bottom: f.rem(10);
        border-bottom: solid v.$color-line 1px;

        &:last-of-type {
            margin-bottom: 0;
        }

        dt{
            font-size: f.rem(12);
            margin-bottom: f.rem(10);
        }

        dd{
            font-size: f.rem(14);
        }
    }

    &__btn{
        @include m.btn();
    }
}

.menu {
    padding: f.rem(80) 0;

    &__inner {
        position: relative;
        @include m.inner();
    }

    &__title {
        @include m.section-title();
    }

    &__slider {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        gap: f.rem(32);
        width: f.rem(200);
        margin: 0 auto;
    }

    &__slider img {
        flex-shrink: 0;
        width: 200px;
        border-radius: 10px;
    }

    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: f.rem(48);
        height: f.rem(48);
        border: none;
        border-radius: 50%;
        background: #d9d9d9;
        cursor: pointer;
    }

    &__prev {
        left: f.rem(-24);
    }

    &__next {
        right: f.rem(-24);
    }

    &__btn{
        @include m.btn();
    }
}

.insta{
    &__inner{
        @include m.inner();
    }

    &__title{
        @include m.section-title();
    }

    &__img{
        display: grid;
        grid-template-columns: repeat(2,f.rem(150));
        justify-content: center;
        gap: f.rem(30);
    }

    &__btn{
        @include m.btn();
    }
}

.reserve-btn {
    position: fixed;
    right: -1px;
    top: 85%;
    transform: translateY(-50%);
    z-index: 1000;

    img {
        display: block;
        width: f.rem(135); // 好きな大きさ
    }
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);

    display: none;
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
    }

    &__image {
        max-width: 80%;
        max-height: 80%;
        border-radius: 10px;
    }
}
