@use '../foundation/function' as f;
@use '../foundation/var' as v;
@use '../foundation/mixin' as m;
//消すかも

.view {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: f.rem(30);
    background: v.$color-accent2;

    &__in {
        display: block;
        padding: f.rem(13) f.rem(18) f.rem(10) f.rem(7);
        color: v.$color-text;
        text-decoration: none;
    }

    &__btn {
        position: relative;
        display: inline-block;
        padding-bottom: f.rem(7);

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: f.rem(50);
            height: 1px;
            background: v.$color-text;
            transition: width .3s ease;
        }

        &::before {
            content: "";
            position: absolute;
            right: f.rem(13);
            bottom: f.rem(-2);
            width: f.rem(5);
            height: f.rem(5);
            border-top: 1px solid v.$color-text;
            border-right: 1px solid v.$color-text;
            transform: rotate(45deg);
            transition: right .3s ease;
        }

        &:hover::after {
            width: f.rem(65);
        }

        &:hover::before {
            right: f.rem(-2);
        }

                &:hover .view__mark--large {
                    animation: pawLarge .35s ease;
                }

                &:hover .view__mark--small {
                    animation: pawSmall .35s ease .12s;
                }
    }

    &__text {
        display: block;
        font-size: f.rem(20);
        line-height: 1;
        margin-right: f.rem(17);
    }

    &__marks {
        position: absolute;
        right: f.rem(-7);
        top: 0;
        width: f.rem(40);
        height: f.rem(40);
    }

    &__mark {
        position: absolute;
        display: block;
        opacity: 1;
    }

    &__mark--small {
        width: f.rem(10);
        right: f.rem(-5);
        top: f.rem(-8);
        transform: rotate(15deg);
    }

    &__mark--large {
        width: f.rem(14);
        right: f.rem(4);
        top: f.rem(2);
        transform: rotate(20deg);
    }

    @include m.mq(desktop) {
        margin-top: f.rem(70);
    }
}

@keyframes pawLarge {
    0% {
        opacity: 1;
        transform: scale(1) rotate(20deg);
    }

    40% {
        opacity: 0;
        transform: scale(.5) rotate(20deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(20deg);
    }
}

@keyframes pawSmall {
    0% {
        opacity: 1;
        transform: scale(1) rotate(15deg);
    }

    40% {
        opacity: 0;
        transform: scale(.5) rotate(15deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(15deg);
    }
}